<aside>
  <ul>
    <li>
      <div>
        <svg class="" width="18" height="20">
          <use href=""></use>
        </svg>
        <h2>Quote of the day</h2>
        <svg class="" width="18" height="20">
          <use href=""></use>
        </svg>
        <p></p>
        <h3></h3>
      </div>
    </li>
    <li>
      <picture>
        <source />
        <source />
        <source />
        <img />
      </picture>
    </li>
    <li>
      <div>
        <svg class="" width="18" height="20">
          <use href=""></use>
        </svg>
        <h3>110 min</h3>
        <h2>Daily norm of sports</h2>
        <p>
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </li>
  </ul>
</aside>
